<ion-view title="Step 3 of 3">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ui-sref="app.subpage3">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header browse-backgrndcolor has-footer">
        <div class="">
          <div class="header">Would you like any add-ons?</div>

            <div class="addons-radio">
                <div class="card" ng-if="saveSpace.length>0">
                    <div class="custom">
                        <span> Save Space</span>
                        <p>Store multiple jars in the space of 1 Jar. <br> Buy a stand! </p>
                        <div class="borderdiv"></div>
                        <div class="row pad-right10 mabt" ng-repeat="product in saveSpace">
                            <div class="col-60 stand">
                                <h5 style="text-transform: capitalize;" for="">{{product.name}} <label for="">₹ {{product.price}}/-</label></h5>
                                <div class="add addrm" style="text-align:left;">
                                    <button ng-click="changeProductQuantity(product,false);" ng-disabled="checkMinProduct(product);">
                                    <i class="ion ion-minus-round"></i>
                                    </button>
                                    <span>{{product.productQuantity||0}}</span>
                                    <button ng-click="changeProductQuantity(product,true);" ng-disabled="checkMaxProduct(product);"><i class="ion ion-plus-round" ></i></button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="steel ">
                                    <img ng-src="{{product.smallImage|uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" ng-if="saveTime.length>0">
                    <div class="custom">
                        <span> Save Time</span>
                        <p>No need to search. Find everything you need to <br>get started right here!</p>
                        <div class="borderdiv"></div>
                        <div class="row adjst" ng-repeat="product in saveTime">
                            <div class="col-75 stand ">
                                <h5 style="text-transform: capitalize;" for="">{{product.name}} <label for="">₹ {{product.price}}/-</label></h5>
                                <div class="add addrm" style="text-align:left;">
                                    <button ng-click="changeProductQuantity(product,false);" ng-disabled="checkMinProduct(product);">
                                <i class="ion ion-minus-round"></i>
                                </button>
                                    <span>{{product.productQuantity||0}}</span>
                                    <button ng-click="changeProductQuantity(product,true);" ng-disabled="checkMaxProduct(product);"><i class="ion ion-plus-round" ></i></button>
                                </div>
                            </div>
                            <div class="col-25">
                                <div class="steel ">
                                    <img ng-src="{{product.smallImage|uploadpath}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <div class="title" ui-sref="app.checkout" ng-if="subscription.otherProducts[0]">Proceed to Checkout</div>
        <div class="title" ui-sref="app.checkout" ng-if="!subscription.otherProducts[0]">I’m Not Interested</div>
    </div>
</ion-view>
