<ion-view title="Step 3 of 3">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <div class="cartbtn">
              <img src="img/9.png" alt="" ui-sref="app.review">
          </div>
          <span class="cartbadge">3</span>
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header browse-backgrndcolor has-footer">
        <div class="">
            <div class="title-addons">
                <div class="padding-horizontal text-center">
                    <h4 class="h4padcol">We'll deliver </h4>
                    <span class="">5 Jars at one time </span>
                </div>
                <div class="row sub3rowcard">
                    <div class="col-75">
                        <h4>Save Rs. 500</h4>
                        <p for="">Take all jars at once and <br> we'll cancel the bottle deposit </p>
                        <!--<span></span>-->
                    </div>
                    <div class="rowimgdiv">
                        <img src="img/smalltick.png" alt="">
                    </div>
                </div>
            </div>
            <div class="addons-radio">
                <div class="card">
                    <!--<h4>demo</h4>-->
                    <div class="custom">
                        <!--<input type="radio" id="radio01" name="radio" />-->
                        <!--<label for="radio01">-->
                        <span> Save Space</span>
                        <p>Store 4 Jars for the space of 1! <br> Buy a stand for Rs. 100. </p>
                        <div class="borderdiv"></div>
                        <div class="row .pad-right10 mabt">
                            <div class="col-40 stand">
                                <label for="">Steel Stand</label>
                                <div class="add">
                                    <i class="ion ion-minus-round"></i><span>3</span><i class="ion ion-plus-round"></i>
                                </div>
                            </div>
                            <div class="col-20">
                            </div>
                            <div class="col">
                                <div class="steel ">
                                    <img src="img/cartonmachine.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--</label>-->
                    </div>
                </div>
                <div class="card">
                    <!--<h4>demo</h4>-->
                    <div class="custom">
                        <!--<input type="radio" id="radio01" name="radio" />-->
                        <!--<label for="radio01">-->
                        <span> Save Time</span>
                        <p>No need to search!<br>Rent out dispensers for Rs. 500/month </p>
                        <div class="borderdiv"></div>
                        <div class="row adjst">
                            <div class="col-75 stand borbtm">
                                <label for="">Flooring Stand Dispensers</label>
                                <div class="add">
                                    <i class="ion ion-minus-round"></i><span>3</span><i class="ion ion-plus-round"></i>
                                </div>
                            </div>
                            <div class="col-25">
                                <div class="steel ">
                                    <img src="img/bigdispenser.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row adjst">
                            <div class="col-75 stand">
                                <label for="">Tabletop Dispenser</label>
                                <div class="add">
                                    <i class="ion ion-minus-round"></i><span>3</span><i class="ion ion-plus-round"></i>
                                </div>
                            </div>
                            <div class="col-25">
                                <div class="steel ">
                                    <img src="img/smalldispenser.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--</label>-->
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <!--<div class="title">Not Interested</div>-->
        <div class="title" ui-sref="app.checkout">Checkout</div>
    </div>
</ion-view>
