<ion-view title="Add-ons">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <!--<ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content class="has-header browse-backgrndcolor">
        <div class="title-addons">
            <div class="padding-horizontal text-center">
                <h4>We want to make sure your first day with us is <span class="royal">perfect <i class="ion ion-android-favorite"></i></span></h4>
            </div>
        </div>
        <div class="addons-radio">
            <div class="card">
                <!--<h4>demo</h4>-->
                <div class="add-ons-item padding">
                    <div class="custom-radio">
                        <input type="radio" id="radio01" name="radio" />
                        <label for="radio01"><span></span>Worried about storage?</label>
                    </div>
                    <img src="img/bisleri-addons2.png" alt="" class="image-left-item">
                    <div class="cont-addon">
                        <p>Buy a stainless steel stand and store 4 jars in the space of 1!</p>
                        <h4 class="rupee-title">
                            100
                        </h4>
                    </div>
                </div>
                <!--<h4>demo</h4>-->
                <div class="add-ons-item padding">
                    <div class="custom-radio">
                        <input type="radio" id="radio02" name="radio" />
                        <label for="radio02"><span></span>Need a Dispenser?</label>
                    </div>
                    <img src="img/bisleri-addons.png" alt="" class="image-left-item">
                    <div class="cont-addon">
                        <p>Buy a stainless steel, table top dispenser! No maintenance no hassle.</p>
                        <h4 class="rupee-title">
                            3000
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>