<ion-view title="20 Liter Jars">
    <ion-nav-bar class="bar-stable schedule-bar browse-hdrBckgrnd  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="browse-moredivalign">
            <div class="browse-moreImgDiv">
                <img class="browse-moreImg" src="img/bisleriaquacan.png" alt="">
            </div>
            <div class="browse-aqualbl" for="">Aquafina</div>
            <label class="browse-morerupee" for="">₹ 90</label>
        </div>
    </ion-content>