<ion-view title="Browse">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <div class="cartbtn">
              <img src="img/9.png" alt="" ui-sref="app.review">
          </div>
          <span class="cartbadge">3</span>
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header browse-backgrndcolor">
        <ion-slide-box class="ionSlider">
            <ion-slide>
                <div class="box box1">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg " src="img/aquashadow.png" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">20L</span>
                            <span class="browse-col502aqua" for="">Aquafina</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">80</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box2">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg" src="img/aquashadow.png" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">20L</span>
                            <span class="browse-col502aqua" for="">Aquafina</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">80</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box3">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg" src="img/aquashadow.png" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">20L</span>
                            <span class="browse-col502aqua" for="">Aquafina</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">80</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="browse-grid">
            <label for="" class="browse-text">Our Products</label>
            <div class="row">
                <div class="col-50" ui-sref='app.browse-more'>
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/bisleriaquacan.png" alt="">
                        </div>
                        <label for="">20 Liter</label>
                    </div>
                </div>
                <div class="col-50" ui-sref="app.productSpecs">
                    <div class="browse-card2 ">
                        <div class="icondiv">
                            <img src="img/aqua1liter.png" alt="">
                        </div>
                        <label for="">1 Liter</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50" ui-sref="app.productSpecs">
                    <div class="oneliter-pack">
                        <div class="icondiv">
                            <img src="img/1literpack.png" alt="">
                        </div>
                        <label for="">1 Liter Pack</label>
                    </div>
                </div>
                <div class="col-50" ui-sref="app.browse-more">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/250mlliter.png" alt="">
                        </div>
                        <label for="">250 ml Liter</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50" ui-sref="app.browse-more">
                    <div class="browse-card1">
                        <div class="icondiv">
                            <img src="img/bisleriaquacan.png" alt="">
                        </div>
                        <label for="">20 Liter</label>
                    </div>
                </div>
                <div class="col-50" ui-sref="app.productSpecs">
                    <div class="browse-card2">
                        <div class="icondiv">
                            <img src="img/aqua1liter.png" alt="">
                        </div>
                        <label for="">1 Liter</label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- <div class="search-fix"> <i class="ion ion-ios-search-strong"></i>
    </div> -->
</ion-view>
