<ion-view title="Browse">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <div class="cartbtn">
              <img src="img/9.png" alt="" ui-sref="app.review">
          </div>
          <span class="cartbadge">3</span>
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header browse-backgrndcolor">
        <ion-slide-box class="ionSlider" on-slide-changed="slideHasChanged($index)"  show-pager="true">
            <ion-slide  ng-if="feaprods.length>0" ng-repeat="data in feaprods" [options]="{pager:true}">
                <div class="box box1">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg " ng-src="{{data.bigImage | uploadpath}}" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">{{data.category.name}}</span>
                            <span class="browse-col502aqua" for="">{{data.name}}</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">{{data.price}}</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
             <!--<ion-slide>
                <div class="box box2">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg" src="img/aquashadow.png" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">20L</span>
                            <span class="browse-col502aqua" for="">Aquafina</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">80</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box box3">
                    <div class="row browse-sliderRow">
                        <div class="col-50">
                            <div class="browse-slideImgDiv">
                                <img class="browse-sliderImg" src="img/aquashadow.png" alt="">
                            </div>
                        </div>
                        <div class="col-50 browse-col502">
                            <span class="browse-col502lbl" for="">20L</span>
                            <span class="browse-col502aqua" for="">Aquafina</span>
                            <span class="browse-col502ltrcolor">Per Jars</span>
                            <span class="browse-col502slash">|</span>
                            <span class="browse-col502rupeesymb">₹</span>
                            <span class="browse-col502rupees">80</span>
                        </div>
                    </div>
                </div>
            </ion-slide>-->
        </ion-slide-box>
        <div class="browse-grid">
            <label for="" class="browse-text">Our Products</label>

            <div class="row" ng-if="category.length>0" ng-repeat="data1 in category">
                  <div class="col-50" ng-repeat="data in data1 track by $index">

                       <div class="browse-card1" ng-if="$index==0" ng-click="nextPage(data.subscription,data._id);">
                        <div class="icondiv" >

                            <!--<img src="{{data2.catImage}}" alt="" ng-if="{{data2.catImage}}">-->
                            <img ng-src="{{data.catImage | uploadpath}}" alt="">
                        </div>
                        <label for="">{{data.name}}</label>
                    </div>

                    <div class="browse-card2" ng-if="$index==1" ng-click="nextPage(data.subscription,data._id);">
                     <div class="icondiv" >
                         <!--<img src="{{data2.catImage}}" alt="" ng-if="{{data2.catImage}}">-->
                         <img ng-src="{{data.catImage | uploadpath}}" alt="">
                     </div>
                     <label for="">{{data.name}}</label>
                 </div>
                  </div>
                  <!--<div class="col-50" ui-sref="app.productSpecs" ng-repeat="data in data1">

                  </div>-->
              </div>
        </div>
    </ion-content>
    <!-- <div class="search-fix"> <i class="ion ion-ios-search-strong"></i>
    </div> -->
</ion-view>
