<ion-view title="Step 1 of 3">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ui-sref="app.browse">
        </button>
        </ion-nav-buttons>
        <!--<ion-nav-buttons side="right">
            <div class="cartbtn">
                <img src="img/9.png" alt="" ui-sref="app.review">
            </div>
            <span class="cartbadge">{{userDetails.cartQuantity}}</span>
        </ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-content>
        <div class="mbt">
            <div class="browse-moredivalign" ng-click="productTap(product);" ng-repeat="product in products">
                <div class="browse-moreImgDiv">
                    <img class="browse-moreImg " ng-src="{{product.smallImage | uploadpath}}" alt="">
                </div>
                <div class="browse-aqualbl" for="">{{product.name}}</div>
                <div for="" class="colorpure">{{product.tag}} <i class="ion ion-information-circled"></i></div>
                <label class="browse-morerupee" for="">₹ {{product.price}}</label>
            </div>
        </div>
    </ion-content>
</ion-view>
