<ion-view title="Schedule">
    <ion-nav-bar class="bar-stable schedule-bar">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIcon" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupIcon">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header ion-contentcolor">
        <div class="schedule-delivered">
            <label for="">When do you want the jars to be delivered?</label>
        </div>
        <div>hello</div>
    </ion-content>