<ion-view title="Review & Checkout">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back
sigupIconLeft" ui-sref="app.addons">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor hasterms has-review-footer">
        <div>
            <div class="chkout-planDiv">
                <label for="">Subscription Plan
<strong>{{subscription.plan}}</strong> </label>
                <div>
                    <i class="button button-icon icon
ion-ios-close-outline chkout-closebutton" ng-click="cancelSubscription();"></i>
                </div>
            </div>
            <div class="row chkout-subheight">
                <div class="col-33">
                    <div class="chkout-image">
                        <img class=" " ng-src="{{subscription.productDetail.bigImage | uploadpath}}" alt="">
                    </div>
                </div>
                <div class="col-66 ">
                    <div class="chkout-align">
                        <h2 class="chkout-fontsize">{{subscription.productDetail.name}}</h2>
                        <div for="" class="colorpure">{{subscription.productDetail.tag}} <i class="ion ion-information-circled"></i></div>
                        <!-- <div for="" class="desc">{{subscription.productDetail.description}}</div> -->
                        <div for="" class="desc">₹ {{subscription.productDetail.priceUsed}}/ {{subscription.productDetail.unit}}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row bgrowQuant " ng-if="subscription.productDetail.applicableBefore>subscription.product[0].quantity"> -->
        <div class="row bgrowQuant " ng-if="deposit">
            <div class="col-67 bgchkoutcol50Quant">
                <div>
                    <label for="">One Time Bottle Deposit

                </label>
                    <br>
                    <span ng-if="subscription.product[0].quantity == 1"> {{subscription.product[0].quantity}}{{subscription.productDetail.unit}} x
₹ {{subscription.productDetail.AmtDeposit}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.product[0].quantity > 1"> {{subscription.product[0].quantity}}{{subscription.productDetail.unit}}s x
₹ {{subscription.productDetail.AmtDeposit}} /{{subscription.productDetail.unit}} </span>
                </div>
            </div>
            <div class="col-33 bgchkoutcol502">
                <div>
                    <label for="">₹
{{deposit}}</label>
                </div>
            </div>
        </div>
        <div class="row bgrowQuant ">
            <div class="col-67 bgchkoutcol50Quant">
                <div>
                    <label for="">Jar Plan

                </label>
                    <br>
                    <span ng-if="subscription.plan == 'Quarterly' && subscription.product[0].quantity == 1">
{{12*subscription.product[0].quantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Monthly'  && subscription.product[0].quantity == 1">
{{4*subscription.product[0].quantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Onetime'  && subscription.product[0].quantity == 1">
{{1*subscription.product[0].quantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Quarterly'  && subscription.product[0].quantity > 1">
{{12*subscription.product[0].quantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Monthly' && subscription.product[0].quantity > 1">
{{4*subscription.product[0].quantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Onetime' && subscription.product[0].quantity > 1">
{{1*subscription.product[0].quantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Quarterly' && subscription.product[0].productQuantity == 1">
{{12*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Monthly'  && subscription.product[0].productQuantity == 1">
{{4*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Onetime'  && subscription.product[0].productQuantity == 1">
{{1*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}} x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Quarterly'  && subscription.product[0].productQuantity > 1">
{{12*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Monthly' && subscription.product[0].productQuantity > 1">
{{4*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                    <span ng-if="subscription.plan == 'Onetime' && subscription.product[0].productQuantity > 1">
{{1*subscription.product[0].productQuantity}} {{subscription.productDetail.unit}}s x ₹
{{subscription.productDetail.priceUsed}} /{{subscription.productDetail.unit}} </span>
                </div>
            </div>
            <div class="col-33 bgchkoutcol502">
                <div>
                    <label for="">₹  {{totalPriceForJar}}</label>
                </div>
            </div>
        </div>

        <div class="row bgrowQuant " ng-repeat="op in
subscription.otherProducts">
            <div class="col-67 bgchkoutcol50Quant">
                <div>
                    <label for="">{{op.name}}

                </label>
                    <br>
                    <span ng-if="op.productQuantity ==1 "> {{op.productQuantity}} {{op.unit}} x ₹
{{op.price}} /{{op.unit}} </span>
                    <span ng-if="op.productQuantity >1 "> {{op.productQuantity}} {{op.unit}}s x ₹
{{op.price}} /{{op.unit}} </span>
                </div>
            </div>
            <div class="col-33 bgchkoutcol502">
                <div>
                    <label for="">₹  {{(op.productQuantity*op.price)}}</label>
                </div>
            </div>
        </div>
        <div class="row checkbtmcard" ng-if="subscription.plan == 'Onetime'">
            <div class="col-25">
                <div class="datemonth text-center">
                    <div class="datediv">
                        {{subscription.deliverdate | date :'dd'}}
                    </div>
                    <div class="monthdiv ">{{subscription.deliverdate | date :'MMM'}}</div>
                </div>
            </div>
            <div class="col-5">
                <div class="verdiv text-center"></div>
            </div>
            <div class="col">
                <div class="rel">
                    <div class="mid-day">
                        <h4>
                            Delivering on {{subscription.deliverdate | date :'EEEE'}}
                        </h4>
                        <div class="text-center rel" ng-click="calenderViewModalOpen()">
                            Click here to change!
                            <!-- <input type="Date" name="" value="" ng-model=""> -->
                        </div>
                    </div>
                    <div class="custarr">
                        <i class="ion ion-chevron-right item-note "></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
          <span class="termscolor" ng-if="error">Please select future Date</span>

        </div>
    </ion-content>
    <li class="item item-checkbox noborder checkbox-assertive borderR
chkalign mar10">
        <label class="checkbox noborder checkboxterms">
   <input type="checkbox" ng-model="terms.value" class="">
 </label> I have read & accepted the

        <span class="termscolor" ng-click="terms.show($event)">  Terms
& Conditions</span>

    </li>
    <div class="bar bar-footer signUpFooter footer-height">
        <button class="button button-block button-positive footer-font" ng-disabled="!terms.value || error" ng-click="gotoshipping()">
  Pay ₹ {{getTotal}}/-
</button>
    </div>
</ion-view>
