<ion-view title="Confirmation">
    <ion-nav-bar class="bar-stable schedule-bar">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIcon" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupIcon">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header ion-contentcolor">
        <label class="confirm-thankyou" for="">Thank You!</label>
        <div class="confirm-checkmark">
            <img src="img/tick.png" alt="">
        </div>
        <div class="conirfm-orderDiv">
            <label class="conirfm-orderlbl" for="">Your Order has been placed</label>
            <label class="confirm-successlbl" for="">Successfully</label>
            <label class="confirm-refillphn" for="">If you need a refill, just call on +91 xxxxxxxxxx, or schedule a delivery though our app</label>
        </div>
    </ion-content>