<ion-view title="Confirmation">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header ion-contentcolor">
        <!--<label class="confirm-thankyou" for="">Thank You!</label>-->
        <div class="confirm-checkmark" ui-sref="app.orderhistory">
            <img src="img/tick.png" alt="">
        </div>
        <div class="conirfm-orderDiv">
            <label class="conirfm-orderlbl" for="">Delivery Scheduled!</label>
            <!--<label class="confirm-successlbl" for="">Successfully</label>-->
            <label class="confirm-refillphn" for="">We'll see you before {{deliverData.delivertime}} on</label>
            <label class="confirm-date" for="">{{deliverData.deliverdate | date :'EEEE, MMMM dd'}}</label>
        </div>
    </ion-content>
    <div class="bar bar-footer signUpFooter footer-height">
      <button class="button button-block button-positive footer-font" ui-sref="app.dashboard">
    Go to Dashboard
  </button>
    </div>
  </ion-view>
