<ion-view view-title="Contact Us">
        <ion-nav-bar class="bar-stable schedule-bar  nav-height">
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon sigupIconLeft disblock" menu-toggle="left">
      </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content class="contact-bg">
<div class="card contact-card text-center">
    <p>For any queries</p>
    <div class="contact-hata-btn">
    <button class="button icon-left ion-android-call button-positive">Contact HaTa</button>
    </div>
    <div class="or-contact"><span> OR</span> </div>
</div>
  </ion-content>
</ion-view>
