<ion-view title="Dashboard">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-ios-bell sigupIcon" menu-toggle="right">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header ion-contentcolor">
    <!-- <div class="">
      <label for=" ">Coming Soon</label>
    </div> -->
    <!-- <div class="dashboardLabel">
      <label for="">Earning For this Month</label>
    </div>
    <div class="rel">
      <div class="roundePrgBar" round-progress max="100" current="14" color="#ff414d" bgcolor="#eaeaea" radius="110" stroke="10"
        semi="false" rounded="true" clockwise="true" responsive="false" iterations="50" animation="easeInOutQuart"></div>
        <div class="roundedPrgDiv"></div>
              <i class="ion ion-information-circled info"></i>
            <div class="overallRupeeDiv" ng-click="showPopup()">
              <label class="rupeeFont" for="">₹ 500</label>
            </div>
            <div class="sinceDateDiv">
              <label class=" " for="">Since February 1, 2017</label>
            </div>
    </div>

    <div class="row bottomTopMarRow">
      <div class="col col-33 colPad">
        <div class="numberDiv">
          <label class="rankLabel" for=" ">15</label>
          <i class="ion ion-android-arrow-up "></i>
          <span>(2)</span>
        </div>
        <div class="rankDiv">
          <pr>Rank</pr>
        </div>
      </div>
      <div class="col col-33 colPad ">
        <div class="lastMonth">
          <label for=" ">₹ 1250</label>
          <pr>Last Month</pr>
        </div>
      </div>
      <div class="col col-33 colPad">
        <div class="newCustomer">
          <label for=" ">8</label>
          <pr>New Customers</pr>
        </div>
      </div>
    </div>

    <div class="newCust">
      <button class="button icon-left ion-plus-circled button-positive " >New Customer</button>
    </div>
    <div class="oldCust">
      <button class="button button-icon ion-custom-user button-positive"><label class="oldCustLabel"  ng-click='price'>Old Customer</label></button>
    </div> -->
    <div class="backdropImg ">
      <div class="jar-div"><label for="">Your Jar Balance</label></div>
      <label class="bal-div" for="">40</label>
      <button class="button button-light buy-more">
  Buy More
</button>
    </div>
    <div class="card card-height">
      <div class="row">
        <div class="col-66">
          <div class="card-labelspan">
            <label class="card-label" for="">We'll be in your area on</label>
            <span class="cardDayspan">Saturday,</span>
            <span class="cardDate">March 26</span>
          </div>
          <button class="button card-schedule">
  Schedule delivery
</button>
        </div>
        <div class="col-33">
          <div class="card-imgDiv">
            <img class="card-img" src="/img/bisleri.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="card bmore">
      <div class="item item-text-wrap">
        Browse More Products
      </div>
    </div>
    <div class="card jars-card">
      <div class="item ">
        <div>
          <label class="jar-label" for="">How many jars do you need?</label>
        </div>
        <div ng-init="count=0">
          <button class="ion ion-minus-circled jars-button" ng-click="count=count-1"></button>
          <span class="jarcount">{{count}}</span>
          <button class="ion  ion-plus-circled jars-button" ng-click="count=count+1"></button>
        </div>
      </div>
    </div>
    <button class="button button-positive jarsch-button">
  Schedule
</button>
  </ion-content>