<ion-view title="Help Center">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header hlpbk ">
        <div class="help-bk">
            <label for="" class="hlp-txt">We're here to help you.</label>
            <label class="item item-input search-div">
              <input type="text" placeholder="Search help here">
              <i class="icon ion-search placeholder-icon"></i>
            </label>
        </div>
        <div class="help-grid">
            <label for="" class="brs-txt">Browse help topics</label>
            <div class="row">
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/delivery.png" alt="">
                        </div>
                        <label for="">Delivery</label>
                    </div>
                </div>
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/order.png" alt="">
                        </div>
                        <label for="">Orders</label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/payment.png" alt="">
                        </div>
                        <label for="">Payment</label>
                    </div>
                </div>
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/account.png" alt="">
                        </div>
                        <label for="">Account</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/feedback.png" alt="">
                        </div>
                        <label for="">Feedback</label>
                    </div>
                </div>
                <div class="col-50  ">
                    <div class="helpcard">
                        <div class="icondiv">
                            <img src="img/callus.png" alt="">
                        </div>
                        <label for="">Call US!</label>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
