<ion-view>
  <!--<ion-header-bar>-->
  <!--<h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>-->
  <!--</ion-header-bar>-->
  <ion-pane>
    <div class="partDiv">
      <label class="" for="">Are you <br>a Customer?</label>
    </div>
    <div class="logorel">
      <div class="imgDiv">
        <img class="img-responsive img" src="img/logo.png" alt="">
      </div>
    </div>
  </ion-pane>
  <div class="bar bar-footer phnFooter">
    <div class="row phnRow">
      <div class="col-67 phnCol66">
        <div class="spanTextDiv">
          <span class="phnSpan">+91</span>
          <input class="phnText" type="text" placeholder="Enter your contact no">
        </div>
      </div>
      <div class="col-33 phnCol33Div">
        <button class="button button-royal joinBtn" ui-sref='verify'>
  Join us
</button>
      </div>
    </div>
  </div>
</ion-view>