<ion-view title="Order History">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIcon" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupIcon">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header ion-contentcolor">
        <div class="order-refillDiv">
            <label class="order-refilllbl" for="">Refill Overview</label>
            <label class="order-refillcount" for="">30</label>
        </div>
        <div class="row order-row ion-contentcolor" ng-init="show=1">
            <div class="col-33 order-thismonth" ng-click="show=1" ng-class="{'highlight' : show == 1}">
                This Month
            </div>
            <div class="col-33 order-thismonth" ng-click="show=2" ng-class="{'highlight' : show == 2}">
                Last Month
            </div>
            <div class="col-33 order-thismonth" ng-click="show=3" ng-class="{'highlight' : show == 3}">
                Last 3 Months
            </div>
        </div>
        <div ng-if="show==1">
            <label class="order-date" for="">February 17, 2017</label>
            <div class="order-monthsDiv">
                <label class="order-jarslbl" for="">2 Jars</label>
            </div>
        </div>
        <div ng-if="show==2">2</div>
        <div ng-if="show==3">3</div>
    </ion-content>