<ion-view title="Order Details">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ui-sref="app.orderhistory">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="bg-prdct ">
        <div class="prod-det">
            <div class="card" ng-repeat="product in orderDetails">
                <div class="item item-text-wrap pad0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img ng-src="{{product.product.smallImage | uploadpath}}" alt="">

                            </div>

                        </div>
                        <!--<div class="col-10 divide">
                            <div class="divline">
                                </div>
                             </div>-->
                        <div class="col-66">
                            <div class="details-div">
                                <h2>{{product.product.name}} </h2>
                                <!-- <span>({{product.category.name}})</span> -->
                                <div for="" class="name">{{product.product.tag}} <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">{{product.product.description}}</div>
                                <div for="" class="desc">₹ {{product.product.price}}</div>
                            </div>
                            <div class="btmorder positive" ng-if="product.product.category.subscription == 'Yes'">Check Plan History</div>
                       <div class="btmorder" ng-if="product.product.category.subscription != 'Yes'">{{product.Quantity}} Pieces delivered on {{product.deliverdate | date:'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>
    </ion-content>
   
</ion-view>
