<ion-view title="{{prod[0].category.name}} Products">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="cartbtn">
                <img src="img/9.png" alt="" ui-sref="app.review">
            </div>
            <span class="cartbadge">{{total}}</span>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bg-prdct has-footer">
        <div class="prod-det">
            <div class="card" ng-repeat="pr in prod">
                <div class="item item-text-wrap pad0" ng-init="pr.q=0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img ng-src="{{pr.smallImage}}" alt="">
                                <div class="line">
                                </div>
                            </div>
                        </div>
                        <div class="col-66">
                            <div class="details-div">
                                <h2>{{pr.name}} </h2>
                                <span>({{pr.category.name}})</span>
                                <div for="" class="name">{{pr.tags}} <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">1 Carton (12 Bottles)</div>
                                <div for="" class="desc">₹ {{pr.price}}</div>
                            </div>
                            <div class="addrm">
                                <i class="ion ion-minus-round" ng-click="pr.q=pr.q-1;getTotal(-1);" ng-if="pr.q > 0"></i><span >{{pr.q}}</span><i class="ion ion-plus-round" ng-click="pr.q=pr.q+1;getTotal(1);" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="saveJ(prod)">
        <div class="title">Add  To Cart</div>
    </div>
</ion-view>
