<ion-view title="{{products[0].category.name}}">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ui-sref="app.browse">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="cartbtn">
                <img src="img/9.png" alt="" ui-sref="app.review">
            </div>
            <span class="cartbadge">{{userDetails.cartQuantity}}</span>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="bg-prdct has-footer">
        <div class="prod-det">
            <div class="card" ng-repeat="product in products">

                <div class="item item-text-wrap pad0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img ng-src="{{product.smallImage | uploadpath}}" alt="">

                            </div>

                        </div>
                        <!--<div class="col-10 divide">
                            <div class="divline">
                                </div>
                             </div>-->
                        <div class="col-66">
                            <div class="details-div">
                                <h2>{{product.name}} </h2>
                                <!-- <span>({{product.category.name}})</span> -->
                                <div for="" class="name">{{product.tag}} <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">{{product.description}}</div>
                                <div for="" class="desc">₹ {{product.price}}</div>
                            </div>
                            <div class="addrm">
                                <button ng-click="changeProductQuantity(product,false);" ng-disabled="checkMinProduct(product);">
                                <i class="ion ion-minus-round"></i>
                                </button>
                                <span>{{product.productQuantity||0}}</span>
                                <button ng-click="changeProductQuantity(product,true);" ng-disabled="checkMaxProduct(product);"><i class="ion ion-plus-round" ></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-no " style="padding: 20%;text-align: center;" ng-if="products.length==0">
                No Product Found
            </div>

        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="addToCart()">
        <div class="title">Add To Cart</div>
    </div>
</ion-view>
