<ion-view title="1 Liter Products">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="cartbtn">
                <img src="img/9.png" alt="" ui-sref="app.review">
            </div>
            <span class="cartbadge">3</span>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="bg-prdct has-footer">
        <div class="prod-det">
            <div class="card">
                <div class="item item-text-wrap pad0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img src="img/aqua1liter.png" alt="">
                                <div class="line">
                                </div>
                            </div>
                        </div>
                        <div class="col-66">
                            <div class="details-div">
                                <h2>Aquafina </h2>
                                <span>(1 Ltr)</span>
                                <div for="" class="name">Purified water <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">1 Carton (12 Bottles)</div>
                                <div for="" class="desc">₹ 30</div>
                            </div>
                            <div class="addrm">
                                <i class="ion ion-minus-round"></i><span>2</span><i class="ion ion-plus-round"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap pad0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img src="img/aqua1liter.png" alt="">
                                <div class="line">
                                </div>
                            </div>
                        </div>
                        <div class="col-66">
                            <div class="details-div">
                                <h2>Aquafina</h2>
                                <span>(1 Ltr)</span>
                                <div for="" class="name">Purified water <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">1 Carton (12 Bottles)</div>
                                <div for="" class="desc">₹ 30</div>
                            </div>
                            <div class="addrm">
                                <i class="ion ion-minus-round"></i><span>1</span><i class="ion ion-plus-round"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap pad0">
                    <div class="row">
                        <div class="col-33">
                            <div class="prdcticon">
                                <img src="img/aqua1liter.png" alt="">
                                <div class="line">
                                </div>
                            </div>
                        </div>
                        <div class="col-66">
                            <div class="details-div">
                                <h2>Aquafina</h2>
                                <span>(1 Ltr)</span>
                                <div for="" class="name">Purified water <i class="ion ion-information-circled"></i></div>
                                <div for="" class="desc">1 Carton (12 Bottles)</div>
                                <div for="" class="desc">₹ 30</div>
                            </div>
                            <div class="addrm">
                                <i class="ion ion-minus-round"></i><span>0</span><i class="ion ion-plus-round"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" ui-sref="app.subpage1">
        <div class="title">Proceed</div>
    </div>
</ion-view>
