<ion-view title="Profile">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header signUpForm has-footer">
    <div class="padtop-10">
      <label class=" item-input ">
    <input type="text" placeholder="Your Name" disabled="">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="Email Id (Optional)" disabled="">
  </label>


      <label class=" item-input ">
    <input type="text" placeholder="Address" disabled="">
  </label>
      <label class=" item-input ">
    <input type="text" placeholder="" disabled>
  </label>
  <label class=" item-input ">
<input type="number" placeholder="Mobile No" disabled="">
</label>
<label class=" item-input ">
<input type="number" placeholder="Landline No"disabled="">
</label>
      <label class=" item-input ">
    <input type="number" placeholder="Pincode" ng-click="sorryPopup()" disabled="">
  </label>
    </div>
    <!--<div class="list paddingDiv">
      <label class="item item-input nameSignup">
    <input class = "plcHldr" type="text" placeholder="Your Name">
  </label>
      <label class="item item-input">
    <input class = "plcHldr" type="text" placeholder="Email Id(optional)">
  </label>
    </div>-->
  </ion-content>
  <div class="bar bar-footer signUpFooter footer-height">
    <button class="button button-block button-positive footer-font" ui-sref="app.verification">
  Save
</button>
  </div>
</ion-view>
