<ion-view title="Large Requirement">
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header ion-contentcolor">
      <div class="m30 ">
        <label class="veri-under" for="">Thats a large requirement!</label>
          <!-- <span class="veri-pro" for="">verification process</span> -->
          <div class="large-div">
              <img src="img/thinking.png" alt="">
          </div>
          <div class="center mrt">
              <!-- <label class="conirfm-orderlbl" for="">Delivery Scheduled!</label> -->
              <label for="" class="large-contact">Please contact a customer<br>representative at</label>
                <span class="large-no" for="">022 - xxxxxxx</span>
              <!-- <label class="confirm-refillphn" for="">We'll see you before 6 PM on</label>
              <label class="confirm-date" for="">Wednesday, March 29</label> -->
          </div>
      </div>

    </ion-content>

  </ion-view>
