<ion-view title="Review & Checkout">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-review-footer">
        <div class="rel" ng-repeat="product in products">
            <!--<div class="row review-height">
                <i class="button button-icon icon ion-ios-close-outline review-closebutton" ng-click="removeCart(product.product._id)"></i>
                <div class="col-33">
                    <div class="prdcticon">
                        <img class=" " ng-src="{{product.product.smallImage | uploadpath}}" alt="">

                    </div>
                </div>
                <div class="col-66">
                    <div class="chkout-align">
                        <h2 class="chkout-fontsize">{{product.product.name}}</h2>
                        <div for="" class="desc">Quantity: <b>{{product.productQuantity}}</b> </div>
                        <div for="" class="desc">Price:
                            <b>₹ {{getProductPrice(product.product,product.productQuantity)}}</b>
                            <strike ng-hide="product.product.price==getProductPrice(product.product,product.productQuantity)">{{product.product.price}}</strike>
                        </div>
                        <div for="" class="desc">Total: <b>₹ {{getProductPrice(product.product,product.productQuantity) * product.productQuantity}}</b></div>
                    </div>
                </div>
            </div>-->
            <div class="row  review-height">
                <i class="button button-icon icon ion-ios-close-outline review-closebutton" ng-click="removeCart(product.product._id)"></i>
                <div class="col-33">
                    <div class="prdcticon">
                        <img ng-src="{{product.product.smallImage | uploadpath}}" alt="">

                    </div>

                </div>
                <!--<div class="col-10 divide">
                            <div class="divline">
                                </div>
                             </div>-->
                <div class="col-66">
                    <div class="details-div">
                        <h2 class="chkout-fontsize">{{product.product.name}}</h2>
                        <!-- <span>({{product.category.name}})</span> -->
                        <div for="" class="name">{{product.product.tag}} <i class="ion ion-information-circled"></i></div>
                        <div for="" class="desc">{{product.product.description}}</div>
                        <div for="" class="desc">₹ {{product.product.price}}</div>
                        <div for="" class="desc" ng-hide="true">Quantity: <b>{{product.productQuantity}}</b> </div>
                        <div for="" class="desc" ng-hide="true">Price:
                            <b>₹ {{getProductPrice(product.product,product.productQuantity)}}</b>
                            <strike ng-hide="product.product.price==getProductPrice(product.product,product.productQuantity)">{{product.product.price}}</strike>
                        </div>
                        <div for="" class="desc" ng-hide="true">Total: <b>₹ {{getProductPrice(product.product,product.productQuantity) * product.productQuantity}}</b></div>
                    </div>
                    <div class="addrm">
                        <button ng-click="changeProductQuantity(product,false);" ng-disabled="checkMinProduct(product);">
                                <i class="ion ion-minus-round"></i>
                                </button>
                        <span>{{product.productQuantity||0}}</span>
                        <button ng-click="changeProductQuantity(product,true);" ng-disabled="checkMaxProduct(product);"><i class="ion ion-plus-round" ></i></button>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-no " style="padding: 20%;text-align: center;" ng-if="products.length==0">
            No Product Found
        </div>
        <div class="row chkoutcoupon" ng-hide="products.length==0">
            <div class="col-50">
                <label for="">Enter coupon code</label>
            </div>
            <div class="col-50 chkpadip">
                <input type="text" placeholder="Type coupon code here">

            </div>
        </div>
        <!--<div class="row bgrowQuant " ng-hide="products.length==0">
            <div class="col-67 bgreviewcol50Quant">
                <div>
                    <label for="">Total Price

                </label>
                </div>
            </div>
            <div class="col-33 bgchkoutcol502">
                <div>
                    <label for="">₹   {{calculateTotalPrice()}}</label>
                </div>
            </div>
        </div>
        <div class="row bgrowQuant" ng-hide="products.length==0">
            <div class="col-67 savingscol501 ">
                <div>
                    <label for="">Your Total savings

                </label>
                </div>
            </div>
            <div class="col-33 savingamtdiv">
                <div>
                    <label for="">₹  {{savingAmount}}</label>
                    <span>({{savingPercent|number:2}}%)</span>
                </div>
            </div>
        </div>-->
        <div class="bt45">

            <div class="row checkbtmcard" ng-hide="products.length==0">
                <div class="col-25">
                    <div class="datemonth text-center">
                        <div class="datediv">
                            {{deliverdate | date :'dd'}}
                        </div>
                        <div class="monthdiv ">{{deliverdate | date :'MMM'}}</div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="verdiv text-center"></div>
                </div>
                <div class="col">
                    <div class="rel">
                        <div class="mid-day">
                            <h4>
                                Delivering on {{deliverdate | date :'EEEE'}}
                            </h4>
                            <div class="text-center rel" ng-click="calenderViewModalOpen()">
                                Click here to change!
                                <!-- <input type="Date" name="" value="" ng-model=""> -->
                            </div>
                        </div>
                        <div class="custarr">
                            <i class="ion ion-chevron-right item-note "></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center ">
                <span class="termscolor " ng-if="error && products.length!=0">Please select future Date</span>

            </div>

        </div>



    </ion-content>

    <li class="item item-checkbox noborder checkbox-assertive borderR
chkalign mar10" ng-if="calculateTotalPrice() != 0">
        <label class="checkbox noborder checkboxterms">
   <input type="checkbox" ng-model="terms.value" class="">
 </label> I have read & accepted the
        <span class="termscolor" ng-click="terms.show($event)">  Terms
& Conditions</span>
    </li>


    <div class="bar bar-footer signUpFooter footer-height" ng-if="calculateTotalPrice() != 0">
        <button ng-disabled="!terms.value || error" class="button button-block button-positive footer-font" ng-click="placeOrder()">
  Pay ₹ {{calculateTotalPrice()}}/-
</button>
    </div>
</ion-view>