<ion-view title="Review & Checkout" cache-view="false">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="rel" ng-repeat="product in products">
            <div class="row review-height">
                <i class="button button-icon icon ion-ios-close-outline review-closebutton" ng-click="removeCart(product.product._id)"></i>
                <div class="col-33">
                    <div class="prdcticon">
                        <img class=" " ng-src="{{product.product.smallImage | uploadpath}}" alt="">

                    </div>
                </div>
                <!--<div class="col-20 reviewdiv">
                    <div class="review-line">
                    </div>
                </div>-->
                <div class="col-66">
                    <div class="chkout-align">
                        <h2 class="chkout-fontsize">{{product.product.name}}</h2>
                        <div for="" class="colorpure">{{product.product.tags}} <i class="ion ion-information-circled"></i></div>
                        <div for="" class="desc">{{product.productQuantity}}</div>
                        <div for="" class="desc">₹ {{getProductPrice(product.product,product.productQuantity)}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-no " style="padding: 20%;text-align: center;" ng-if="products.length==0">
            No Product Found
        </div>
        <div class="row chkoutcoupon" ng-hide="products.length==0">
            <div class="col-50">
                <label for="">Enter coupon code</label>
            </div>
            <div class="col-50 chkpadip">
                <input type="text" placeholder="Type coupon code here">

            </div>
        </div>
        <div class="row bgrowQuant " ng-hide="products.length==0">
            <div class="col-67 bgreviewcol50Quant">
                <div>
                    <label for="">Total Price

                </label>
                </div>
            </div>
            <div class="col-33 bgchkoutcol502">
                <div>
                    <label for="">₹ {{calculateTotalPrice()}}</label>
                </div>
            </div>
        </div>
        <div class="row bgrowQuant" ng-hide="products.length==0">
            <div class="col-67 savingscol501 ">
                <div>
                    <label for="">Your Total savings

                </label>
                </div>
            </div>
            <div class="col-33 savingamtdiv">
                <div>
                    <label for="">₹  {{savingAmount}}</label>
                    <span>({{savingPercent|number:2}}%)</span>
                </div>
            </div>
        </div>

        <!--<div class="row checkbtmcard" ng-hide="products.length==0">
            <div class="col-25">
                <div class="datemonth text-center">
                    <div class="datediv">
                        10
                    </div>
                    <div class="monthdiv">FEB</div>
                </div>
            </div>
            <div class="col-5">
                <div class="verdiv text-center"></div>
            </div>
            <div class="col">
                <div class="rel">
                    <div class="mid-day">
                        <h4>
                            Delivering on friday
                        </h4>
                        <div class="text-center rel" ng-click="openDatePicker()">
                            Click here to change!
                        </div>
                    </div>
                    <div class="custarr">
                        <i class="ion ion-chevron-right item-note "></i>
                    </div>
                </div>
            </div>
        </div>-->




    </ion-content>

    <li class="item item-checkbox noborder checkbox-assertive borderR
chkalign mar10">
        <label class="checkbox noborder ">
   <input type="checkbox" ng-model="terms" class="">
   </label> I have read & accept the
        <span class="termscolor" ng-click="terms.show($event)">  Terms & Conditions</span>
    </li>


    <div class="bar bar-footer signUpFooter footer-height">
        <button ng-disabled="!terms || calculateTotalPrice() == 0" class="button button-block button-positive footer-font" ng-click="placeOrder()">
          Pay ₹ {{calculateTotalPrice()}}/-
        </button>
    </div>
</ion-view>
