<ion-view title="Sign up">
  <ion-nav-bar class="bar-stable nav-height">
    <ion-nav-buttons side="left">
      <button class="button button-clear ion-android-arrow-back sigupIconLeft" >
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear ion-android-more-vertical sigupRight" ng-click="popover.show($event)">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <form  ng-submit="signup()" name="userForm">
  <ion-content class="has-header signUpForm hasterms">
    <div class="padtop-10">
      <div>
        <label class=" item-input ">
        <input type="text" placeholder="Your Name"  ng-model="signupForm.name" value="{{signupForm.name}}" name="name" required>
        </label>
        <p class="error-msg" ng-show="userForm.name.$error.required && userForm.name.$touched">Please Enter Your Name.</p>
      </div>
<div>
  <label class=" item-input ">
<input type="email" placeholder="Email Id (Optional)" ng-model="signupForm.email" value="{{signupForm.email}}" name="email" required>
</label>
<p class="error-msg" ng-show="userForm.email.$error.required && userForm.email.$touched">Please Enter your Email Id.</p>
</div>


<!-- <div>
  <label class=" item-input ">
  <input type="text" placeholder="Address" ng-model="signupForm.establishmentAddress" value="{{signupForm.establishmentAddress}}" name="estadd" required>
  </label>
   <p class="error-msg" ng-show="userForm.estadd.$error.required && userForm.estadd.$touched">Please Enter your Address.</p>
</div>
      <label class=" item-input ">
    <input type="text" placeholder="" disabled>
  </label> -->

  <!--<div>
    <label class=" item-input ">
    <input type="number" placeholder="Mobile No" ng-model="signupForm.mobile" name="mob"  value="{{signupForm.mobile}}"  required limit-to = "10">
    </label>
     <p class="error-msg" ng-show="userForm.mob.$error.required && userForm.mob.$touched">Please Enter your Mobile No.</p>
  </div>-->

<!-- <div>
  <label class=" item-input ">
  <input type="text" placeholder="Landline No"  ng-model="signupForm.landLine" name="landl" value="{{signupForm.landLine}}" required only-Digits maxlength="11" minlength="11">
  </label>
  <p class="error-msg" ng-show="userForm.landl.$error.required && userForm.landl.$touched">Please Enter your Landline No.</p>
</div> -->

<div>
  <label class=" item-input ">
  <input limit-to="6"  type="number" placeholder="Pincode"  ng-model="signupForm.pincode" name="pincode" value="{{signupForm.pincode}}" ng-min="100000" ng-max="999999"  required >
  </label>
  <p class="error-msg" ng-show="userForm.pincode.$invalid && userForm.pincode.$touched">Please Enter your Pincode.</p>
</div>

    </div>

  </ion-content>

  <li class="item item-checkbox noborder checkbox-assertive borderR chkalign mar10">
I have read & accept the

<span  class="termscolor" ng-click="terms.show($event)" >  terms & conditions</span>
<label class="checkbox noborder ">
<input type="checkbox" class="" ng-model="click" ng-init="click=true">
</label>
</li>
  <div class="bar bar-footer signUpFooter footer-height" ng-if="click">
    <button class="button button-block button-positive footer-font" ng-disabled="userForm.$invalid" type="submit">
  Get Started
</button>
  </div>
  </form>
</ion-view>
