<ion-view title="Step 1 of 3">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goToProduct()">
        </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="mainmar25-50">
            <label for="">How many jars do you need</label>
            <span>Per Week</span>
            <label for="">?</label>
        </div>
        <div class="inputarea">
            <input type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                autofocus focusMe ng-model="subscription.product[0].quantity">
        </div>
        <div class="avgTxt">On average , 4 people need 3 jars per week.</div>
    </ion-content>
    <div class="bar bar-footer nextFooter footer-height">
        <button class="button button-block button-positive footer-font" ng-disabled="!subscription.product[0].quantity" ng-click="takeToNext();">
  Next
</button>
    </div>
</ion-view>
