<ion-view title="Step 1 of 3">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div class="cartbtn">
                <img src="img/9.png" alt="" ui-sref="app.checkout">
            </div>
            <span class="cartbadge">{{userDetails.cartQuantity}}</span>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="mainmar25-50">
            <label for="">How many jars do you need</label>
            <span>Per Week</span>
            <label for="">?</label>
        </div>
        <div class="inputarea">
            <input type="number" autofocus focusMe ng-model="subscription.product[0].quantity">
        </div>
        <div class="avgTxt">On average , 4 people need 3 jars per week.</div>
    </ion-content>
    <div class="bar bar-footer nextFooter footer-height">
        <button class="button button-block button-positive footer-font" ui-sref="app.subpage3">
  Next
</button>
    </div>
</ion-view>
