<ion-view title="Step 2 of 3">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="header">How would you like your delivery?</div>
        <div class="row onceweekDiv">
            <div class="col-50 col-50pad">
                <label class="jarslbl" for="">10 Jars</label>
                <span class="onceLbl" for="">once a week</span>
            </div>
            <div class="col-20 border">
            </div>
            <div class="col col-40pad">
                <div class="rel">
                    <label class="lbl90"> 90</label>
                </div>
                <label class="rupsym" for="">₹</label>
                <label class="lbl88" for=""> 88</label>
                <label class="perjar" for="">/Jar</label>
            </div>
        </div>
        <div class="row onceweekDiv">
            <div class="col-50 col-50pad">
                <label class="jarslbl" for="">5 Jars</label>
                <span class="onceLbl" for="">twice a week</span>
            </div>
            <div class="col-20 border">
            </div>
            <div class="col col-40pad">
                <div class="rel">
                    <label class="lbl90"> 90</label>
                </div>
                <label class="rupsym" for="">₹</label>
                <label class="lbl88" for=""> 88</label>
                <label class="perjar" for="">/Jar</label>
            </div>
        </div>
        <div class="row chooseDayDiv">
            <div class="col67">
                <label class="choosedayLbl" for="">You choose the day!</label>
                <label class="needrefill" for="">Whenever you need a refill </label>
                <label class="needrefill" for="">Just call, or order through our app!</label>
            </div>
            <div class="col-33">
                <div class="card-imgDiv">
                    <img class="card-img img-responsive" src="img/bisleri.png" alt="">
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer depositDiv footer-height">
        <div class="depositDiv">
            <label class="depositclrLbl" for="">One time deposit of ₹ 150 per jar</label>
        </div>
    </div>
</ion-view>