<ion-view title="Step 1 of 3">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="mainmar25-50">
            <label for="">How many jars do you need</label>
            <span>Per Week</span>
            <label for="">?</label>
        </div>
        <div class="inputarea">
            <input type="number">
        </div>
        <div class="avgTxt">On average , 4 people consume 3 jars per week.</div>
    </ion-content>
    <div class="bar bar-footer nextFooter footer-height">
        <button class="button button-block button-positive footer-font" ui-sref="app.subpage3">
  Next
</button>
    </div>
</ion-view>
