<ion-view title="Step 3 of 3">
    <ion-nav-bar class="bar-stable nav-height">
        <ion-nav-buttons side="left">
            <button class="button button-clear ion-android-arrow-back sigupIconLeft" ng-click="goBackHandler()">
        </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-clear ion-android-more-vertical sigupRight">
        </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header chkout-bgcolor has-footer">
        <div class="header">Which plan would you like?</div>
        <div class="row onceweekDiv">
            <div class="col-67 col-50pad border col-margin">
                <label class="jarslbl" for="">Quarterly Plan</label>
                <p class="onceLblr" for="">120 Jars</p>
            </div>
            <!--<div class="col-20 border">
            </div>-->
            <div class="col-33 col-37pad col-margin">
                <label class="lbl-100 light-grey" for="">₹</label>
                <label class="lbl-100 assertive" for=""> 10,800</label>
            </div>
        </div>

        <div class="row onceweekDiv">
            <img src="img/most-popular.png" alt="" class="most-popular">
            <div class="col-67 col-50pad border col-margin">
                <label class="jarslbl" for="">Monthly Plan </label>
                <p class="onceLblr" for="">40 Jars</p>
            </div>
            <!--<div class="col-20 border">
            </div>-->
            <div class="col-33 col-37pad col-margin">
                <label class="lbl-100 light-grey" for="">₹</label>
                <label class="lbl-100 assertive" for="">3600</label>
            </div>
        </div>

        <div class="row onceweekDiv">
            <div class="col-67 col-50pad border col-margin">
                <label class="jarslbl" for="">Weekly Plan</label>
                <p class="onceLblr" for="">10 Jars</p>
            </div>
            <!--<div class="col-20 border">
            </div>-->
            <div class="col-33 col-37pad col-margin">
                <label class="lbl-100 light-grey" for="">₹</label>
                <label class="lbl-100 assertive" for="">900</label>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer depositDiv footer-height">
        <div class="depositDiv">
            <label class="depositclrLbl" for="">Plan has lifetime validity.</label>
        </div>
    </div>
</ion-view>