<ion-view>
  <ion-pane>
    <div class="logorel">
      <div class="otpDiv">
        <label for="" class="otpLabel">Enter the 4-digit OTP code you <br> received through SMS</label>
        <div class="otpin">
          <input type="number" autofocus focusMe class="inputs" maxlength="1" ng-model="otp.first" ng-change="disableotp(otp)">
          <input type="number" class="inputs" maxlength="1" ng-model="otp.second" ng-change="disableotp(otp)">
          <input type="number" class="inputs" maxlength="1" ng-model="otp.third" ng-change="disableotp(otp)">
          <input type="number" class="inputs" maxlength="1" ng-model="otp.forth" ng-change="disableotp(otp)">
        </div>
        <button class="button button-assertive verifyDiv" ng-click="verifyOTP(otp)" ng-disabled="!otpenable">
  VERIFY
</button>
        <button class="button button-clear button-positive resendBtn" ng-click="getOTP()" ng-if="resend">
  Resend OTP
</button>
      </div>
    </div>
    <div class="">
    </div>
    <div class="">
    </div>
    </div>
  </ion-pane>
</ion-view>
