<ion-popover-view class= "termspopover">

  <ion-header-bar class="termshead">
         <h1 class = "">Terms & Conditions</h1>
      </ion-header-bar>
  <ion-content >

    <div class="termspr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis, dui egestas fringilla mattis, orci libero vulputate massa, in lobortis massa lorem vitae diam. Maecenas semper consequat mi, ut hendrerit orci egestas ultricies. Integer in sollicitudin neque, id pulvinar tortor. Vivamus quis sem sed felis condimentum luctus. Cras porta orci gravida tortor feugiat blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam consectetur lacinia velit nec faucibus.

Aenean lacinia tincidunt libero eu finibus. Nunc semper massa sed eros tincidunt, non maximus justo facilisis. Mauris volutpat vitae arcu non sodales. Nulla bibendum quis risus vel egestas. In ut porttitor orci. Mauris porta pellentesque orci id auctor. Ut ornare, odio eget facilisis placerat, augue dui lobortis metus, eget faucibus libero lectus in ante.

Proin mattis pharetra ligula, sit amet placerat nibh eleifend vitae. Suspendisse fermentum diam non orci porta vulputate. Suspendisse laoreet, lacus sagittis imperdiet porta, arcu risus interdum odio, ac vehicula urna diam ut nisi. Nulla blandit massa sed ultricies porttitor. Donec ultricies, metus eu congue hendrerit, velit libero eleifend urna, quis dignissim libero diam quis ligula. Nunc sagittis sapien a dui scelerisque, semper fermentum turpis facilisis. Quisque euismod nisi sed facilisis luctus. Quisque ex urna, aliquet pretium fermentum pharetra, pellentesque eu elit. Integer iaculis feugiat libero, eget mollis ex condimentum sit amet.</div>
  </ion-content>
</ion-popover-view>
